* {
  &,
  &::before,
  &::after {
    box-sizing: border-box;
  }
}

@for $i from 1 through 6 {
  h#{$i} {
    margin: 0;
    padding: 0;
    line-height: 1;
  }
}

body {
  margin: 0;
  padding: 0;
  line-height: 1;
}

a {
  text-decoration: none;

  &:focus {
    outline: none;
  }
}

p {
  margin: 0;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

input {

  &:focus {
    outline: none;
  }
}

textarea {
  resize: none;

  &:focus {
    outline: none;
  }
}

button {
  border: 0;
  background: unset;
  border-radius: 0;
  padding: 0;
  color: #ffffff;
  font-family: inherit;

  &:focus {
    outline: none;
  }
}

